**1. Housing Price**

In [ ]:
 house_0_list=[115910.26, 128, 4]
print("house_0_list type:", type(house_0_list))
print("house_0_list length:", len(house_0_list))
house_0_list

house_0_list type: <class 'list'>
house_0_list length: 3

[115910.26, 128, 4]

In [ ]:
house_0_price_m2 = house_0_list[0]/house_0_list[1]
house_0_price_m2

905.54890625

In [ ]:
house_0_list.append(house_0_price_m2)
house_0_list

[115910.26, 128, 4, 905.54890625]

In [ ]:
houses_nested_list = [ [115910.26, 128.0, 4.0], [48718.17, 210.0, 3.0], [28977.56, 58.0, 2.0], [36932.27, 79.0, 3.0], [83903.51, 111.0, 3.0], ]
for col in houses_nested_list:
  price_m2 = col[0] / col[1]
  col.append(price_m2)
houses_nested_list

[[115910.26, 128.0, 4.0, 905.54890625],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 111.0, 3.0, 755.8874774774774]]

In [ ]:
house_0_dict = {
    "price_approx_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}
print("house_0_dict type:", type(house_0_dict))
house_0_dict

house_0_dict type: <class 'dict'>

{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [ ]:
house_0_dict["price_per_m2"] = house_0_dict["price_approx_usd"]/house_0_dict["surface_covered_in_m2"]
house_0_dict

{'price_approx_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

list of dictionaries

In [ ]:
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

print("houses_rowwise type:", type(houses_rowwise))
print("houses_rowwise length:", len(houses_rowwise))
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [ ]:
for col in houses_rowwise:
  col["price_in_m2"]=col["price_approx_usd"]/col["surface_covered_in_m2"]
houses_rowwise

[{'price_approx_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_in_m2': 905.54890625},
 {'price_approx_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_in_m2': 231.9912857142857},
 {'price_approx_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_in_m2': 499.61310344827587},
 {'price_approx_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_in_m2': 467.4970886075949},
 {'price_approx_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_in_m2': 755.8874774774774}]

Finding mean column-wise:

In [ ]:
house_price=[]
for cols in houses_rowwise:
  house_price.append(cols['price_approx_usd'])
print(house_price)
house_price_mean=sum(house_price)/len(house_price)
house_price_mean

[115910.26, 48718.17, 28977.56, 36932.27, 83903.51]

62888.35399999999

**Dictionary of lists**

In [ ]:
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}
# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [ ]:
mean=sum(houses_columnwise["price_approx_usd"])/len(houses_columnwise["price_approx_usd"])
mean

62888.35399999999